In [24]:
import numpy as np 
import pandas as pd
#dataset from 
#https://www.kaggle.com/eeemonts/weatherclimate-data-covid19
df = pd.read_csv("./ozone.csv");
df

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20
0,NaN,Austria,47.5162,14.5501,319,318,340,343,331,332,...,361,361,332,298,301,315,325,311,300,322
1,NaN,Belgium,50.8333,4.0000,305,330,316,296,291,309,...,315,316,305,303,324,331,311,295,313,338
2,NaN,Brazil,-14.2350,-51.9253,261,260,254,250,252,249,...,263,261,256,256,250,246,254,257,257,255
3,Alberta,Canada,53.9333,-116.5765,373,396,423,369,371,390,...,466,469,462,474,415,421,389,372,392,424
4,British Columbia,Canada,49.2827,-123.1207,349,380,355,328,376,390,...,438,436,429,447,376,372,360,346,352,368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Yukon,Canada,64.2823,-135.0000,441,429,426,439,416,410,...,440,455,402,358,428,463,436,426,408,404
85,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,249,249,246,248,254,256,...,271,267,261,260,261,260,261,258,261,264
86,Saint Pierre and Miquelon,France,46.8852,-56.3159,313,331,361,367,357,342,...,341,318,359,377,401,443,429,387,387,440
87,NaN,"Korea, South",36.0000,128.0000,291,301,312,352,329,306,...,391,366,372,361,368,379,385,400,392,408
88,NaN,US,37.0902,-95.7129,351,344,302,322,322,294,...,336,323,338,327,321,309,317,308,322,324

In [11]:
df2 = pd.read_csv("./covid_countries.csv")
df2

,Unnamed: 0,Country,Confirmed,Deaths,Mortality Rate,Latitude,Longitude,Country_Code
0,164.0,United States,839675.0,46583.0,5.55,37.090240,-95.712891,US
1,146.0,Spain,208389.0,21717.0,10.42,40.463667,-3.749220,ES
2,77.0,Italy,187327.0,25085.0,13.39,41.871940,12.567380,IT
3,54.0,France,157125.0,21373.0,13.60,46.227638,2.213749,FR
4,58.0,Germany,150648.0,5279.0,3.50,51.165691,10.451526,DE
5,160.0,Turkey,98674.0,2376.0,2.41,38.963745,35.243322,TR
6,73.0,Iran,85996.0,5391.0,6.27,32.427908,53.688046,IR
7,34.0,China,82790.0,4632.0,5.59,35.861660,104.195397,CN
8,129.0,Russia,57999.0,513.0,0.88,61.524010,105.318756,RU
9,23.0,Brazil,45757.0,2906.0,6.35,-14.235004,-51.925280,BR
10,16.0,Belgium,41889.0,6262.0,14.95,50.503887,4.469936,BE
11,30.0,Canada,41650.0,2077.0,4.99,56.130366,-106.346771,CA
12,112.0,Netherlands,35032.0,4068.0,11.61,52.132633,5.291266,NL
13,151.0,Switzerland,28268.0,1509.0,5.34,46.818188,8.227512,CH
14,126.0,Portugal,21982.0,785.0,3.57,39.399872,-8.224454,PT
15,71.0,India,21370.0,681.0,3.19,20.593684,78.962880,IN
16,123.0,Peru,19250.0,530.0,2.75,-9.189967,-75.015152,PE
17,75.0,Ireland,16671.0,769.0,4.61,53.412910,-8.243890,IE
18,150.0,Sweden,16004.0,1937.0,12.10,60.128161,18.643501,SE
19,9.0,Austria,14925.0,510.0,3.42,47.516231,14.550072,AT
20,76.0,Israel,14498.0,189.0,1.30,31.046051,34.851612,IL
21,135.0,Saudi Arabia,12772.0,114.0,0.89,23.885942,45.079162,SA
22,79.0,Japan,11512.0,281.0,2.44,36.204824,138.252924,JP
23,33.0,Chile,11296.0,160.0,1.42,-35.675147,-71.542969,CL
24,45.0,Ecuador,10850.0,537.0,4.95,-1.831239,-78.183406,EC
25,145.0,South Korea,10694.0,238.0,2.23,35.907757,127.766922,KR
26,125.0,Poland,10169.0,426.0,4.19,51.919438,19.145136,PL
27,140.0,Singapore,10141.0,12.0,0.12,1.352083,103.819836,SG
28,119.0,Pakistan,10076.0,212.0,2.10,30.375321,69.345116,PK

In [12]:
#get all the countries that have at least 10,000 Covid-19 cases from df2
ozone = df[df['Country/Region'].isin(df2.Country)]

In [13]:
#find all unique country names
ozone['Country/Region'].unique()

array(['Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'China',
       'Ecuador', 'France', 'Germany', 'India', 'Iran', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Netherlands', 'Pakistan', 'Peru',
       'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore',
       'Spain', 'Sweden', 'Switzerland', 'Turkey'], dtype=object)

In [14]:
#find all unique country names
df2.sort_values(by=['Country']).Country.unique()

array(['Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'China',
       'Ecuador', 'France', 'Germany', 'India', 'Iran', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Netherlands', 'Pakistan', 'Peru',
       'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United States'], dtype=object)

In [15]:
#add missing country to ozone dataset manually since spelling differences.
ozone = ozone.append(df.loc[df['Country/Region'] == 'Korea, South'])
ozone = ozone.append(df.loc[df['Country/Region'] == 'US'])
ozone.index = range(0,len(ozone))

In [16]:
#remove Province/State column
ozone = ozone.drop(columns=['Province/State'])

In [17]:
ozone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Columns: 106 entries, Country/Region to 4/12/20
dtypes: float64(2), int64(103), object(1)
memory usage: 73.8+ KB

In [18]:
#create cleaning list for combining multiple ozone readings in one country
dubs = ozone['Country/Region'].value_counts() #shows how many times a country occurs in dataframe

i = 0
cleaningList = []
for i in range(0, len(dubs)):
    if dubs[i] > 1: #if country occurs more than once
        cleaningList = cleaningList + [dubs.index[i]] #add to cleaning list
cleaningList

['China', 'Canada', 'France', 'Netherlands']

In [19]:
#This for loop gets the cleaningList Countries and averages the multiple ozone readings

for i in cleaningList:     #gets country from cleaning list
    temp = ozone[ozone['Country/Region'] == i]  #create temporary dataframe of selected country
    ozone = ozone[ozone['Country/Region'] != i] #remove all exisiting occurances of selected country
    ozone.index = range(0, len(ozone))          #fix index
    ozone.loc[len(ozone)] = [i] + list(temp.mean().values) #add the average of mulitple readings to end of ozone dataframe
ozone

,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,1/7/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20
0,Austria,47.516200,14.550100,319.000000,318.000000,340.000000,343.000000,331.000000,332.000000,345.000000,...,361.000000,361.000000,332.000000,298.000000,301.000000,315.000000,325.000000,311.000000,300.000000,322.000000
1,Belgium,50.833300,4.000000,305.000000,330.000000,316.000000,296.000000,291.000000,309.000000,317.000000,...,315.000000,316.000000,305.000000,303.000000,324.000000,331.000000,311.000000,295.000000,313.000000,338.000000
2,Brazil,-14.235000,-51.925300,261.000000,260.000000,254.000000,250.000000,252.000000,249.000000,249.000000,...,263.000000,261.000000,256.000000,256.000000,250.000000,246.000000,254.000000,257.000000,257.000000,255.000000
3,Chile,-35.675100,-71.543000,263.000000,262.000000,263.000000,254.000000,253.000000,276.000000,287.000000,...,249.000000,252.000000,258.000000,266.000000,279.000000,280.000000,266.000000,257.000000,264.000000,276.000000
4,Ecuador,-1.831200,-78.183400,230.000000,230.000000,227.000000,232.000000,236.000000,238.000000,236.000000,...,249.000000,246.000000,246.000000,247.000000,245.000000,244.000000,246.000000,248.000000,249.000000,247.000000
5,Germany,51.000000,9.000000,294.000000,329.000000,323.000000,315.000000,301.000000,307.000000,337.000000,...,312.000000,329.000000,312.000000,293.000000,310.000000,334.000000,317.000000,308.000000,311.000000,328.000000
6,India,21.000000,78.000000,257.000000,263.000000,262.000000,251.000000,245.000000,235.000000,237.000000,...,282.000000,282.000000,277.000000,278.000000,280.000000,282.000000,285.000000,289.000000,294.000000,292.000000
7,Iran,32.000000,53.000000,311.000000,294.000000,283.000000,286.000000,317.000000,317.000000,302.000000,...,315.000000,323.000000,328.000000,315.000000,306.000000,298.000000,302.000000,300.000000,307.000000,322.000000
8,Ireland,53.142400,-7.692100,296.000000,312.000000,290.000000,274.000000,289.000000,322.000000,277.000000,...,305.000000,293.000000,291.000000,349.000000,343.000000,316.000000,302.000000,309.000000,330.000000,366.000000
9,Israel,31.000000,35.000000,286.000000,297.000000,305.000000,343.000000,335.000000,318.000000,317.000000,...,331.000000,321.000000,314.000000,309.000000,312.000000,325.000000,344.000000,348.000000,350.000000,351.000000
10,Italy,43.000000,12.000000,327.000000,342.000000,341.000000,344.000000,333.000000,349.000000,360.000000,...,391.000000,391.000000,375.000000,341.000000,317.000000,328.000000,349.000000,320.000000,301.000000,311.000000
11,Japan,36.000000,138.000000,308.000000,314.000000,351.000000,382.000000,345.000000,319.000000,286.000000,...,363.000000,361.000000,367.000000,365.000000,351.000000,356.000000,368.000000,397.000000,397.000000,375.000000
12,Pakistan,30.375300,69.345100,366.000000,331.000000,304.000000,289.000000,283.000000,288.000000,296.000000,...,311.000000,310.000000,312.000000,317.000000,328.000000,312.000000,308.000000,310.000000,302.000000,295.000000
13,Peru,-9.190000,-75.015200,245.000000,245.000000,242.000000,248.000000,247.000000,250.000000,247.000000,...,255.000000,248.000000,249.000000,250.000000,249.000000,247.000000,250.000000,254.000000,250.000000,252.000000
14,Poland,51.919400,19.145100,311.000000,326.000000,331.000000,350.000000,326.000000,316.000000,341.000000,...,329.000000,345.000000,325.000000,299.000000,296.000000,332.000000,342.000000,332.000000,330.000000,313.000000
15,Portugal,39.399900,-8.224500,298.000000,303.000000,328.000000,328.000000,310.000000,315.000000,323.000000,...,362.000000,341.000000,337.000000,341.000000,329.000000,312.000000,310.000000,306.000000,331.000000,359.000000
16,Russia,60.000000,90.000000,274.000000,309.000000,297.000000,321.000000,315.000000,315.000000,322.000000,...,378.000000,381.000000,369.000000,389.000000,373.000000,358.000000,386.000000,389.000000,400.000000,373.000000
17,Saudi Arabia,24.000000,45.000000,252.000000,249.000000,247.000000,243.000000,249.000000,259.000000,256.000000,...,282.000000,289.000000,288.000000,283.000000,282.000000,285.000000,285.000000,281.000000,279.000000,282.000000
18,Singapore,1.283300,103.833300,247.000000,249.000000,246.000000,245.000000,246.000000,247.000000,248.000000,...,253.000000,254.000000,258.000000,257.000000,258.000000,257.000000,258.000000,258.000000,258.000000,260.000000
19,Spain,40.000000,-4.000000,298.000000,300.000000,329.000000,331.000000,315.000000,312.000000,321.000000,...,372.000000,340.000000,340.000000,335.000000,336.000000,320.000000,314.000000,304.000000,311.000000,333.000000
20,Sweden,63.000000,16.000000,255.000000,251.000000,292.000000,325.000000,252.000000,272.000000,268.000000,...,313.000000,292.000000,247.000000,258.000000,320.000000,338.000000,283.000000,287.000000,257.000000,275.000000
21,Switzerland,46.818200,8.227500,320.000000,324.000000,335.000000,321.000000,307.000000,322.000000,338.000000,...,359.000000,358.000000,327.000000,304.000000,305.000000,330.000000,319.000000,302.000000,296.000000,329.000000
22,Turkey,38.963700,35.243300,388.000000,365.000000,366.000000,375.000000,373.000000,374.000000,383.000000,...,412.000000,381.000000,363.000000,363.000000,352.000000,364.000000,368.000000,344.000000,359.000000,346.000000
23,"Korea, South",36.000000,128.000000,291.000000,301.000000,312.000000,352.000000,329.000000,306.000000,283.000000,...,391.000000,366.000000,372.000000,361.000000,368.000000,379.000000,385.000000,400.000000,392.000000,408.000000
24,US,37.090200,-95.712900,351.000000,344.000000,302.000000,322.000000,322.000000,294.000000,309.000000,...,336.000000,323.000000,338.000000,327.000000,321.000000,309.000000,317.000000,308.000000,322.000000,324.000000
25,China,32.828385,111.649082,280.181818,290.393939,300.606061,297.878788,290.878788,293.545455,300.212121,...,332.060606,327.939394,329.878788,335.181818,336.878788,339.787879,341.696970,341.090909,344.060606,341.303030
26,Canada,44.784047,-82.508593,349.933333,359.533333,368.000000,358.000000,351.200000,356.866667,357.933333,...,376.600000,377.533333,387.666667,387.866667,402.000000,400.266667,386.600000,379.400000,388.666667,398.466667
27,France,8.305673,5.429018,272.000000,274.909091,277.545455,274.272727,274.363636,274.636364,272.454545,...,280.909091,280.000000,279.000000,280.454545,283.090909,286.272727,281.636364,277.545455,280.363636,287.727273
28,Netherlands,21.408340,-53.005560,262.000000,269.200000,264.400000,262.000000,263.400000,266.400000,266.600000,...,282.200000,279.000000,272.200000,271.400000,278.400000,275.800000,272.400000,270.600000,274.400000,279.400000

In [20]:
#sorting dataframe for neatness
ozone.sort_values(by=['Country/Region']) 
ozone.index = range(0,len(ozone))
ozone.head(5)

,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,1/7/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20
0,Austria,47.5162,14.5501,319.0,318.0,340.0,343.0,331.0,332.0,345.0,...,361.0,361.0,332.0,298.0,301.0,315.0,325.0,311.0,300.0,322.0
1,Belgium,50.8333,4.0000,305.0,330.0,316.0,296.0,291.0,309.0,317.0,...,315.0,316.0,305.0,303.0,324.0,331.0,311.0,295.0,313.0,338.0
2,Brazil,-14.2350,-51.9253,261.0,260.0,254.0,250.0,252.0,249.0,249.0,...,263.0,261.0,256.0,256.0,250.0,246.0,254.0,257.0,257.0,255.0
3,Chile,-35.6751,-71.5430,263.0,262.0,263.0,254.0,253.0,276.0,287.0,...,249.0,252.0,258.0,266.0,279.0,280.0,266.0,257.0,264.0,276.0
4,Ecuador,-1.8312,-78.1834,230.0,230.0,227.0,232.0,236.0,238.0,236.0,...,249.0,246.0,246.0,247.0,245.0,244.0,246.0,248.0,249.0,247.0

In [23]:
#use this in other ozone notbook
ozone.to_csv(r'C:\Users\harpr\Documents\CSCI 191T\Final\ozoneFinal.csv', index = True)